<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
       div {
            border-style: dotted;
           align-items: center;
           align-content: flex-start;
           flex-wrap: initial;
           flex: content;
           align-self: center;
        }
    </style>
</head>
<body>
    <div>
        <div class="he">
            <li>home</li>
            <li>about</li>
        </div>
    </div>
</body>
</html>